<div class="container-fluid">
    <div class="row">
        {{#each products}}
        <div class="col-md-3 mt-5 p-4">
            <div class="card m-auto"
                style="width: 18rem; border-radius: 12px; box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;">
                <img class="card-img-top p-4" src="/admin_image/{{this._id}}.jpg" alt="Card image cap"
                    style="border-radius: 20px;">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    {{!-- <a href="/cart?id={{this._id}}" class="btn btn-primary">Add_to_Cart</a> --}}
                    <button onclick="cartCount('{{this._id}}')" class="btn btn-warning">Add_to_cart</button>
                    <a href="/admin-pdf/{{this._id}}.pdf" class="btn btn-success">Read boooks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script>

</script>